[submodule "build_ctx/libs/fmt"]
	path = build_ctx/libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "build_ctx/libs/spdlog"]
	path = build_ctx/libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "build_ctx/libs/yaml-cpp"]
	path = build_ctx/libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
